// Mobile Prtrait
$mobile_portrait_min_width: 320px;
$mobile_portrait_max_width: 479px;

// mobile landScape
$mobile_landscape_min_width: 480px;
$mobile_landscape_max_width: 594px;

// small tablet
$small_tablet_min_width: 595px;
$small_tablet_max_width: 689px;

// large tablet
$large_tablet_min_width: 690px;
$large_tablet_max_width: 990px;

// large devices
$large_min_width: 991px;
$large_max_width: 1200px;

// Extra large
$extra_large_min_width: 1201px;