.Categories{
    margin: 50px 0;
    .IconCategories{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center
    }
}