@import '../../../assets/scss/Input.module.scss';
.Actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    &>div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .SearchSection{
        display: flex;
        align-items: center;
        .Categories{
            color: $blue_color;
            .control{
                border-right: none
            }
        }
        .SearchForm{
            display: flex;
            align-items: center;
            .InputElement{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                width: 270px;
            }
            .Submit{
                margin-left: 10px
            }
        }
    }
    .ButtonsSection{
        .Notifications{
            margin-left: 10px
        }
        .Login{
            background-color: $blue_color;
            margin-left: 20px;
            svg{
                margin-right: 10px;
            }
        }
    }
    
}