@import '../../../../assets/scss/color_variables';
.DrawerToggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
    &>div {
        width: 70%;
        height: 3px;
        background-color: $blue_color;
        margin: 3px 0;
    }
}