@import '../../../../assets/scss/color_variables';
@import '../../../../assets/scss/screen_sizes';
.NavigationItem {
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        padding: 16px 10px;
        display: flex;
        svg{
            margin-right: 5px
        }
    }
}