@import '../../assets/scss/screen_sizes';
.ProductsCollections{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (max-width: $small_tablet_max_width){
        flex-direction: column;
    }
    // @media screen and (min-width: $large_tablet_min_width) and (max-width: $large_tablet_max_width){
    //     width: calc(100%/2);
    // }
}