@import '../../../assets/scss/color_variables';
@import '../../../assets/scss/Input.module.scss';
.Product{
    display: flex;
    border: 1px solid $lite_gray;
    flex-direction: column;
    margin: 20px 10px;
    text-align: center; 
    align-items: center;
    &:first-of-type{
        margin-left: 0;
    }
    &:first-of-type{
        margin-right: 0;
    }
    .Sale{
        width: 100%;
        padding: 5px 20px;
        background-color: $lite_gray;
        color: $black;
        margin-bottom: 10px;
        span{
            color: $red;
        }
    }
    .ProductDetails{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        img{
            display: flex;
            margin: auto;
            height: 200px;
        }
        .Prices{
            display: flex;
            align-items: center;
            text-align: center;
            margin: 10px 0;
            .Price{
                color: $blue_color;
            }
            .Descount{
                color: $gray;
                text-decoration: line-through;
                font-size: 0.75rem;
            }
        }
        .Actions{
            form{
                display: flex;
                justify-content: space-between;
                align-items: center;
                input{
                    margin-right: 20px;
                    width: 90%
                }
                button{
                    background-color: $red;
                }
            }
        }
    }
    time{
        background-color: $lite_gray;
        color: $gray;
        padding: 10px 30px
    }
}