@import '../../assets/scss/screen_sizes';

main, aside {
    margin-top: 56px;
}
main {
    display: flex;
    justify-content: center;
    width: 100vw;
    @media (min-width: $large_tablet_min_width) and (max-width: $large_tablet_max_width) {
        width: 80vw;
        margin-left: 20vw;
    }
    @media (min-width: $large_min_width){
        width: 85vw;
        margin-left: 15vw;
    }
}
aside {
    width: 70vw;
    @media (min-width: $large_tablet_min_width) and (max-width: $large_tablet_max_width) {
        width: 20vw;
    }
    @media (min-width: $large_min_width){
        width: 15vw;
    }
}