@import '../../assets/scss/color_variables';
@import '../../assets/scss/Input.module.scss';
.Footer{
    .FooterMainSection{
        display: flex;
        justify-content: space-between;
        margin: 40px 0;
        .FooterLinks{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: calc(100%/3);
            .Column{
                display: flex;
                flex-direction: column;
                a{
                    color: $gray;
                    text-decoration: none;
                    font-size: 1rem;
                    margin: 7px 0;
                }
                &:last-child{
                    margin-right: 10px;
                }
            }
        }
        .Store{
            width: calc(100%/3);
            justify-content: center;
            align-items: center;
            text-align: center;
            align-content: center;
            padding: 20px;
            background-color: $lite_gray;
            margin: 0 10px;
            .Icon{
                justify-content: center;
                a{
                    background-color: transparent !important;
                    margin: 0;
                    svg{
                        color: $blue_color  !important;
                    }
                }
            }
            .Button{
                background-color: $blue_color;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
        .Subscribtion{
            @extend .Store;
            .SubscribeIcon{
                justify-content: center;
                a{
                    background-color: transparent !important;
                    margin: 0;
                    svg{
                        color: $red  !important;
                    }
                }
            }
            .SubscribtionForm{
                display: flex;
                align-items: center;
                input{
                    border-color: $white;
                    font-size: 20px;
                    border-radius: 0;
                }
                .Submit{
                    background-color: $white;
                    color: $red;
                    border-radius: 0;
                    justify-content: center;
                    align-items: center;

                }
            }

        }
    }
}