@import '../../assets/scss/color_variables';
.BranchesContainer{
    display: flex;
    background-color: $lite_gray;
    padding: 50px 0;
    text-align: center;
    justify-content: space-between;
}
.Branches{
    display: flex;
    padding: 50px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}