@import '../../assets/scss/color_variables';
.Slider {
    width: 100%;
    .slick-list{
        height: 100% !important;
        
        img {
            height: 450px !important;
            margin: auto;
            width: 100% !important;
        }
    }
}
.Slide{
    height: 450px !important;
    position: relative;
    img{
        width: 100%
    }
    .Overlay{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: $white;
        border-bottom: 2px solid $red;
        width: 50%;
        height: 80%;
        color: black;
        padding: 20px 20px 20px 85px;
        h2{
            line-height: 1.5;
            font-weight: 100;
            font-size: 2.2rem;
            font-family: 'comfortaa';
            &::first-line {
                color: $blue_color
            }
        }
        p{
            line-height: 1.5;
            font-family: 'comfortaa';
            color: $gray;
            margin-top: 20px
        }
        .SliderLink{
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: $white;
            background-color: $blue_color;
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            align-content: center;
            right: 20px;
            bottom: 40px
        }
    }
}
.Dots{
    bottom: 20px !important;
    z-index: 2;
    text-align: right !important;
    right: 40px;
    li{
        button{
            &::before{
                content: '' !important;
                width: 20px !important;
                height: 20px !important;
                background-color: $white;
                opacity: 1 !important;
                border-radius: 50%;
            }
        }
        &.slick-active{
            button{
                &::before{
                    background-color: $red;
                }
            }
        }
    }
}

.Dots li.slick-active button:before{
    background-color: $red !important;
}